# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# env
.env
.env*.local

# debug
npm-debug.log*

# uploads (admin media)
public/uploads
public/wp-media

# ide
.idea
.vscode
.cursor

# ts
tsconfig.tsbuildinfo

# os
.DS_Store
Thumbs.db
